<?xml version="1.0"?>
<robot name="single_actuator_command_test" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="can_interface" default="can0"/>
  <xacro:arg name="node_id" default="1"/>

  <link name="base_link"/>

  <ros2_control name="ZeusSingleActuatorCommandTest" type="system">
    <hardware>
      <plugin>zeus_hardware_interface/ZeusSystemHardware</plugin>
      <param name="can0">$(arg can_interface)</param>
      <param name="command_only_mode">true</param>
      <param name="num_daisy_encoders">1</param>
      <param name="encoder_to_joint_map">0</param>
    </hardware>

    <joint name="joint_0">
      <command_interface name="target_actuator_angle"/>
      <state_interface name="after_spring_angle"/>
      <state_interface name="load_encoder_position"/>
      <state_interface name="torque_estimate"/>
      <param name="can_bus">can0</param>
      <param name="node_id">$(arg node_id)</param>
    </joint>
  </ros2_control>
</robot>
